body {
  font-family: "Poppins", sans-serif;
  background-color: #1A2549;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.img-responsive {
  max-width: 100%;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/whistler-village-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 16/9;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1,
.hero h2,
.hero h3,
.hero a {
  margin: 0 auto;
}

.hero h1 {
  font-size: 70px;
  line-height: 1.5;
}

.hero h2 {
  font-weight: 300;
  line-height: 1.5;
  font-size: 30px;
}

.hero h3 {
  letter-spacing: 5px;
  line-height: 1.5;
}

.hero a {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 8px 16px;
  margin-top: 15px;
  border-radius: 15px;
  text-decoration: none;
  transition: all ease-in-out 200ms;
}

.hero a:hover {
  background-color: rgba(255, 255, 255, 1);
}


.grid {
  display: grid;
  grid-gap: 60px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;

}

section {
  margin: 0 auto;
  max-width: 1400px;
  padding: 50px;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #1A2549;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #1A2549;
  margin: 0;
}

main p {
  font-size: 16px;
  line-height: 1.5;
  color: #1A2549;
  opacity: 0.7;
}


footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url("../images/Season-in-Whistler-Panoramic-1-min.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}


footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer a {
  color: white;
  transition: all ease-in-out 150ms;
}

footer a:hover {
  opacity: 0.6;
}

@media (max-width: 1000px) {
  
  .hero h1 {
    font-size: 40px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .grid-2-columns {
  grid-template-columns: 1fr ;
}
  .grid-3-columns {
  grid-template-columns: 1fr ;
}
  .grid-3-columns-with-first-narrow{
    grid-template-columns: 1fr;
  }
  .section {
  padding: 20px;
  margin-left: 10px;
}

}